* {
    margin: 0;
    padding: 0;
}


.DashboardRightSideBarMain {
    box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
    width: 21%;
    /* right:0; */
    margin-top: 40px;
    background-color: white;
    /* border-bottom-left-radius: 5px; */
    min-height: 100vh;
}

.DataItemsRight p{
    font-weight: bold;
    text-decoration: underline;
    padding: 0.6rem 0.4rem;
    font-size: 1.2rem;
}

