.forflex {
    height: 100vh;
    margin-top: 7vh;
}

.main-home {
    display: flex;
    flex-direction: column;
    height: 50%; 
    justify-content: flex-end;
    align-items: center;
}

.main-home img {
    height: 12rem;
    width: 28rem;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.but-home {
    padding: 0.8rem 2rem;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 2rem;
    margin: 1rem;
    transition: 0.3s ease all;
}

.but-home:hover {
    color: black;
    background-color: white;
    background-origin: 1px solid black;
    cursor: pointer;
}
